<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <test name="SauceDemo Test Execution">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
            <class name="com.saucedemo.tests.ProductTest"/>
            <class name="com.saucedemo.tests.CartTest"/>
            <class name="com.saucedemo.tests.CheckoutTest"/>
            <class name="com.saucedemo.tests.LogoutTest"/>
        </classes>
    </test>
</suite>
